
/* 1. Ketebalan Normal / Regular (Weight: 400) */
@font-face {
    font-family: 'gFlex';
    src: url('../fonts/Google_Sans_Flex/static/GoogleSansFlex_24pt-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

/* 2. Ketebalan Medium (Weight: 500) */
@font-face {
    font-family: 'gFlex';
    src: url('../fonts/Google_Sans_Flex/static/GoogleSansFlex_24pt-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

/* 3. Ketebalan Bold (Weight: 700) */
@font-face {
    font-family: 'gFlex';
    src: url('../fonts/Google_Sans_Flex/static/GoogleSansFlex_24pt-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

/* 4. Jika Anda juga punya file untuk versi Italic */
@font-face {
    font-family: 'gFlex';
    src: url('../fonts/Google_Sans_Flex/static/GoogleSansFlex_24pt-Light.ttf');
    font-weight: 400;
    font-style: italic;
}


:root {
    --border : #0000003d;
    --gelap: #000;
    --terang: #fff;
    --terang2: #efefef;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: gFlex;
    line-height: 1;
    background-color: var(--terang);
    color: var(--gelap);

    transition: background-color 0.3s ease, color 0.3s ease;
}



/* gelap ke terang ke gelap */
/* public/style.css */

/* Mode Terang (Default) */
/* Mode Gelap */
[data-theme="dark"] {
    --border : #ffffff3d;
    --gelap: #e6e6e6;
    --terang: #252525;
    --terang2: #151515;
}


button {
    background-color: var(--gelap);
    color: var(--terang);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.garis {
    width: 100%;
    height: 1px;
    background-color: var(--border);
}