<link rel="stylesheet" href="./media/css/tampilkanLink.css">

<style>
    .container {
        padding: 3rem 1rem;
        width: 100%;
        
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .wrapper {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        width: 100%;
    }

    .formCari {
        display: flex;
        flex-direction: column;
        gap: .2rem;
        input {
            border-radius: .75rem;
            border: solid var(--border) 2px;
            outline: none;
            padding: .5rem;
            background-color: var(--search);
            width: 100%;
        }
        .max {
            width: 100%;
            font-size: .9rem;
        }
    }
    .di-home {
        height: 120px;
        padding: 2rem; 
        margin-bottom: 120px;
        img {
            height: 3rem;
            filter: invert(100%);
        }
    }
</style>

<div class="container">
    <div class="tengahin di-home">
        <h1 style="font-size: 3rem; text-align: center; line-height: 1;">Welcome Chief 🤠</h1>
        <img class="png-icon2" src="./media/images/arrow.png" alt="" style="transform: scale(1, -1);">
    </div>

    <div class="formCari">
        <label for="cari">
            <h2>Search <span style="opacity: .3;">.. .<span></h2>
        </label>
        <small>search by name, link short / strategy</small>

        <div class="tengahin" style="gap: .3rem;">
            <input type="text" name="cari" id="cari" placeholder=". . . . . . .">
            <div class="row" style="gap: .3rem;">
                <div class="max tombol">
                    <h3>filter</h3>
                </div>
                <button class="cari max">
                    <h3>
                        load >
                    </h3>
                </button>
            </div>
        </div>
    </div>

    <div class="wrapper">
    </div>
</div>


<script type="module">
    import { buatKartuUnit } from '/media/jsPartials/tampilkanLink.js';

    const wrapper = document.querySelector('.wrapper');
    ambilDataJson();

    // Event pencarian
    document.querySelector(".cari").addEventListener("click", function(){
        const queryIni = document.getElementById("cari");
        ambilDataJson(queryIni.value);
    });

    wrapper.addEventListener("click", async function(e) {
        // Sesuaikan dengan class elemen Anda, yaitu '.copy'
        const tombolCopy = e.target.closest('.copy');

        // Jika yang diklik adalah elemen dengan class 'copy'
        if (tombolCopy) {
            // Mengambil nilai dari atribut 'linkSalin'
            const teksYangAkanDisalin = tombolCopy.getAttribute('linkSalin');

            try {
                // Eksekusi fungsi copy
                await navigator.clipboard.writeText(teksYangAkanDisalin);
                
                // Munculkan alert
                alert("link successfull copy!");
                

            } catch (err) {
                console.error("Gagal menyalin teks: ", err);
                alert("Gagal menyalin teks. Silakan coba lagi.");
            }
        }
    });


    async function ambilDataJson(query = ""){
        try {
            const jsonIni = await fetch("./api/" + query);
            const data = await jsonIni.json();
            
            let buatKartu = "";
            console.log(data);
            // Pastikan data adalah array agar tidak error
            if(Array.isArray(data)) {
                if(data.length > 0){
                    data.forEach((ini) => {
                        buatKartu += buatKartuUnit(ini);
                    });
                } else {
                    buatKartu = `
                    <div class="errorMessage">
                        <p>Data <span class="merah">${query}</span> tidak ditemukan</p>
                        <small>coba gunakan spasi dengan benar</small>
                        <img class="png-icon2" src="./media/images/peringantan.png" alt="" style="width: 100%; opacity: .3;">

                    </div>
                    `;
                }
            } else {
                buatKartu = "<p>Data tidak ditemukan</p>";
            }
            
            wrapper.innerHTML = buatKartu;
            
        } catch (error) {
            console.log(error);
            wrapper.innerHTML = "<p>Terjadi kesalahan saat mengambil data.</p>";
        }
    }
</script>