<link rel="stylesheet" href="./media/css/tampilkanLink.css">

<style>
    .container {
        padding: 3rem 1rem;
        width: 100%;
        
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .wrapper {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        width: 100%;
    }

    .formCari {
        display: flex;
        flex-direction: column;
        gap: .2rem;
        font-weight: bold;
        input {
            border-radius: .5rem;
            border: solid var(--border) 2px;
            outline: none;
            padding: .5rem;
        }
    }
</style>

<div class="container">
    <h1>welcome</h1>

    <div class="formCari">
        
        <label for="cari">search by name, link short / strategy</label>
        <input type="text" name="cari" id="cari">
        <button class="cari">cari</button>
    </div>

    <div class="wrapper">
    </div>
</div>


<script type="module">
    import { buatKartuUnit } from '/media/jsPartials/tampilkanLink.js';

    const wrapper = document.querySelector('.wrapper');
    ambilDataJson();

    // Event pencarian
    document.querySelector(".cari").addEventListener("click", function(){
        const queryIni = document.getElementById("cari");
        ambilDataJson(queryIni.value);
    });

    wrapper.addEventListener("click", async function(e) {
        // Sesuaikan dengan class elemen Anda, yaitu '.copy'
        const tombolCopy = e.target.closest('.copy');

        // Jika yang diklik adalah elemen dengan class 'copy'
        if (tombolCopy) {
            // Mengambil nilai dari atribut 'linkSalin'
            const teksYangAkanDisalin = tombolCopy.getAttribute('linkSalin');

            try {
                // Eksekusi fungsi copy
                await navigator.clipboard.writeText(teksYangAkanDisalin);
                
                // Munculkan alert
                alert("link successfull copy!");

            } catch (err) {
                console.error("Gagal menyalin teks: ", err);
                alert("Gagal menyalin teks. Silakan coba lagi.");
            }
        }
    });


    async function ambilDataJson(query = ""){
        try {
            const jsonIni = await fetch("./api/" + query);
            const data = await jsonIni.json();
            
            let buatKartu = "";
            // Pastikan data adalah array agar tidak error
            if(Array.isArray(data)) {
                data.forEach((ini) => {
                    buatKartu += buatKartuUnit(ini);
                });
            } else {
                buatKartu = "<p>Data tidak ditemukan</p>";
            }
            
            wrapper.innerHTML = buatKartu;
            
        } catch (error) {
            console.log(error);
            wrapper.innerHTML = "<p>Terjadi kesalahan saat mengambil data.</p>";
        }
    }
</script>