<style>
    .footer {
        margin-top: 10vh;
        height: 30vh;
        padding: 1rem;
        .kata {
            margin: 0 1rem;
        }
    }
</style>

<div class="footer">
    <div class="garis"></div>
    <small class="kata">
        <h3>
            follow us on :
        </h3>
        <div>youtube</div>
        <div>tiktok</div>
        <div>instagram</div>
        <div>twitch</div>
        <div>facebook</div>
    </small>
</div>