<style>
    .footer {
        width: 100%;
        aspect-ratio: 4/3;

        position: relative;
        
        .backgroundFooter {
            width: 100%;
            position: absolute;
            top:0;
            left:0;
            z-index: 0;
            img {
                width: 100%;
                transform: scale(-1, 1);
            }
        }
        .kata {
            position: absolute;

            left: 1rem;
            bottom: 1rem;

            z-index: 1;
            color: #fff;
        }
        .social-links{
            display: flex;
            flex-direction: column;
            line-height: 1;
            a {
                display: flex;
                align-items: center;
                gap: .2rem;

                height: 1.4rem;
                img {
                    height: 110%;
                    aspect-ratio: 1;
                }
            }
        }
    }
</style>

<div class="footer">
    <div class="backgroundFooter">
        <img src="./media/images/bg/bg.png" alt="">
    </div>
    <small class="kata">
        <h3>
            follow us on :
        </h3>
        <br>

        <div class="social-links">
            <a href="https://www.youtube.com/@elplongor" target="_blank">
                <img src="./media/images/logo/logoYt.png" alt="">
                <p>@elplongor</p>
            </a>
            <a href="#" target="_blank">
                <img src="./media/images/logo/logoTiktok.png" alt="">
                <p>@elplongor</p>
            </a>
            <a href="https://www.instagram.com/setengahpitou/" target="_blank">
                <img src="./media/images/logo/logoIg.png" alt="">
                <p>setengahpitou</p>
            </a>
            <a href="#" target="_blank">
                <img src="./media/images/logo/logoTwitch.png" alt="">
                <p>elplongor</p>
            </a>
            <a href="#" target="_blank">
                <img src="./media/images/logo/logoFacebook.png" alt="">
                <p>elplongor andFriend</p>
            </a>
        </div>

    </small>
</div>