<style>
    .footer {
        margin-top: 10vh;
        height: 30vh;
        padding: 1rem;
        .kata {
            margin: 0 1rem;
        }
        .social-links{
            display: flex;
            flex-direction: column;
            line-height: 1;
            a {
                display: flex;
                align-items: center;
                gap: .2rem;

                height: 1.8rem;
                img {
                    height: 100%;
                    aspect-ratio: 1;
                }
            }
        }
    }
</style>

<div class="footer">
    <div class="garis"></div>
    <small class="kata">
        <h3>
            follow us on :
        </h3>
        <br>

        <div class="social-links">
            <a href="https://www.youtube.com/@elplongor" target="_blank">
                <img src="./media/images/logo/logoYt.png" alt="">
                <p>@elplongor</p>
            </a>
            <a href="#" target="_blank">
                <img src="./media/images/logo/logoTiktok.png" alt="">
                <p>@elplongor</p>
            </a>
            <a href="https://www.instagram.com/setengahpitou/" target="_blank">
                <img src="./media/images/logo/logoIg.png" alt="">
                <p>setengahpitou</p>
            </a>
            <a href="#" target="_blank">
                <img src="./media/images/logo/logoTwitch.png" alt="">
                <p>elplongor</p>
            </a>
            <a href="#" target="_blank">
                <img src="./media/images/logo/logoFacebook.png" alt="">
                <p>elplongor andFriend</p>
            </a>
        </div>

    </small>
</div>