<style>
    .footer {
        margin-top: 10vh;
        height: 30vh;
        padding: 1rem;
        .kata {
            margin: 0 1rem;
        }
        .social-links{
            display: flex;
            flex-direction: column;
            line-height: 1;
        }
    }
</style>

<div class="footer">
    <div class="garis"></div>
    <small class="kata">
        <h3>
            follow us on :
        </h3>

        <div class="social-links">
            <a href="#" target="_blank">youtube</a>
            <a href="#" target="_blank">tiktok</a>
            <a href="#" target="_blank">instagram</a>
            <a href="#" target="_blank">twitch</a>
            <a href="#" target="_blank">facebook</a>
        </div>

    </small>
</div>